<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    
        
</head>
<body>

    <div class="container">
    

        <div class="page-header titulo-ajuste"><h1>Pagina de Cadastro</h1></div>

        <div class="row">

            <div class="col-md-3 col-sm-3">

                <form method="post" action="" role="form-group" id="form-criar-cadastro">

                    <div class="form-group row">

                        <label for="nome">Nome: </label>
                        <input type="text" id="nome" class="form-control" name="usur" placeholder="Digite seu nome completo." autofocus>
                        

                    </div>

                    <div class="form-group row">

                        <label for="email">Email: </label>
                        <input type="email" id="email" class="form-control" name="email1" placeholder="example@cadastro.com" >

                    </div>

                    <div class="form-group row">

                        <label for="telefone">Telefone: </label>
                        <input type="tel" id="telefone" class="form-control" name="telephone" placeholder="(00)-00000-0000" >

                    </div>

                    <div class="form-group row">
                        <label for="nascimento"">Nascimento: </label>
                        <input type="date" id="nascimento" class="form-control" name="born" > 
                    </div>

                    <div class="radio form-group row">

                            <label>Gênero: </label>
                            <div class="radio">
                              <label for="sexoM">
                                <input type="radio" id="sexoM" name="sexo" value="M">
                                Masculino</label>
                            </div>
                            <div class="radio">
                              <label for="sexoF">
                                <input type="radio" id="sexoF" name="sexo" value="F">
                                Feminino</label>
                            </div>
                    
                    </div>

                    <div class="form-group row">
                        <label for="senha">Senha: </label>
                        <input type="password" id="senha" class="form-control" name="passwd" placeholder="Digite sua senha." >
                
                    </div>

                    <div class="form-group row">
                        <label for="inputFile">Foto: </label>
                        <input type="file" id="inputFile" class="form-control" name="photo">

                      </div>

                    <div class="form-group">
                        <label for="checkBox">Administrador: </label>
                        <input type="checkbox" id="checkBox" name="admin">

                      </div>


                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    
                    </div>



                </form>

           
            </div>
                   <div class="col-md-9 col-sm-9">
                
                    <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Criado em</th>
                            <th>Sexo</th>
                            <th>Senha</th>
                            <th>Ações</th>
                            <th>Administrador</th>
                        </tr>
                    </thead>

                    <tbody id="gerar-linhas">

                    </tbody>

                </table>

            </div>

        </div>

    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="../scripts/controler/User.js"></script>
    <script src="../scripts/controler/UserController.js"></script>
    <script src="../scripts/controler/callObject.js"></script>  

</body>

</html>